@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family:'Reddit Mono', monospace;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.btn{
 background-color: hwb(207 46% 11%);   
 border-radius: 3px;
 border: none;
 color:rgb(2, 0, 1)
 margin: 1rem;
 padding: 1rem 2rem;
 font-size: 1.5rem 3rem;
 font-family: inherit;
 font-weight: bold;
 cursor: pointer;
 transition: all 0.2 ease-in-out;
}

.btn:focus{
  outline: none;
}

.btn:active{
    transform: scale(0.98);
    transform: translateY(4px);
    box

}